.navbar-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 7.5vh;
  background-color: #fff;
}

.nav-item-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 25%;
  color: var(--unselected);
}

.nav-item {
  font-size: 2.75vh;
  padding: 5px 12.5px;

  cursor: pointer;
}

.active-nav-link {
  color: #fff !important;
}

.active-nav-link span {
  transition: ease-in-out 0.25s;
  text-align: center;
  width: 60%;
  border-radius: 16px;
  background-color: var(--custom-blue);
}
