.switch-upper-part {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.info-box-container {
  margin: 1.5rem 0 0.75rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
