.app-upper-part {
  padding: 1.25em 1em;
  color: var(--light-bg);
  background-color: var(--primary);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.hamburger-bell-container {
  display: flex;
  font-size: 1.5em;
}

.menu-button {
  position: relative;
  top: -5px;
  width: 20px;
  height: 3px;
  background: #fff;
  margin: 20px 0 0 0;
  border-radius: 27.5%;
  cursor: pointer;
}

.menu-button:before {
  display: block;
  content: '';
  width: 29px;
  height: 3px;
  box-shadow: 0 -8px 0 0 #fff;
  border-radius: 27.5%;
  cursor: pointer;
}

.bell-icon {
  margin-left: auto;
  cursor: pointer;
}

.short-info h3 {
  margin-bottom: 10px;
}

.short-info p {
  margin-top: 0;
  line-height: 1.5em;
}
