.img-banner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 15px;
  background-color: var(--custom-purple);
  color: var(--light-bg);
}

.img-banner img {
  width: 100%;
  overflow: hidden;
}

.img-banner-info {
  padding-left: 1em;
  width: 80%;
}
